.butterfly {
    flex: 0 1 500px;
    svg {
        display: block;
        margin: 0 auto;
        max-width: 100%;
        max-height: 100vh; 
        padding: 10px;
        #leftWing, #leftWingSmallDot, #leftWingBigDot, #rightWing, #rightWingSmallDot, #rightWingBigDot, #centerBody, #leftAntenna, #rightAntenna {
          &:hover {
            cursor: url('/img/icon-color-fill.png') 50 32, auto;
        }
        }
      }
}
