*{
  box-sizing: border-box;
}

html,
body {
height: 100%;
}

html {
  scroll-behavior: smooth;
}

body {
  position: relative;
}

.section {
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
}

h2 {
  font-family: "Catcafe";
  font-size: 36px;
  color: #2B5F8C;
  text-align: center;
  padding: 0 20px;
}