.butterfly {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: relative;
    svg {
        display: block;
        margin: 0 auto;
        width: 100%;
        height: 100%; 
        padding: 10px;
        .areaForColoring {
          &:hover {
            cursor: url('../img/icon-color-fill.png') 50 32, auto;
        }
      }
    }
}

.reset-btn {
  width: 24px;
  height: 24px;
  background-image: url('../img/icon-reset.png');
  opacity: 0;
  visibility: hidden;
  border: none;
  background-color: transparent;
  position: absolute;
  top: 10%;
  right: 10px;
  transition: all 0.5s ease-in;
  cursor: pointer;
}